<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="golfer">

  <resultMap id="golferResultMap" type="popp.pat.model.Golfer"> 
    <result property="id" column="id" javaType="java.lang.Long"/>
    <result property="name" column="name" javaType="java.lang.String"/>
    <result property="gender" column="gender" javaType="java.lang.String"/>
  </resultMap>
    
    <select id="selectAllGolfers" resultMap="golferResultMap">
        SELECT * from golfer
    </select>

    <select id="selectAllGolfersNotInRound" resultMap="golferResultMap">
        SELECT * from golfer 
        where id not in 
        (SELECT DISTINCT golfer_id from score where round_id = #{roundId})
    </select>
    
    <select id="selectNextId" resultType="Long">
        SELECT ifnull(max(id)+1,1) from golfer;
    </select>
    
 	<insert id="insertNewGolfer" statementType="PREPARED" parameterType="popp.pat.model.Golfer">
	  INSERT INTO golfer
      (
        id, 
        name, 
        gender
      )
      VALUES	
      (
        #{id}, 
        #{name},
		#{gender}
	  )
	</insert>
    
</mapper>