<h3>Golfers</h3>
<input pInputText [(ngModel)]="newGolferName"/>
<p-radioButton name="genderGroup" value="male" label="male" [(ngModel)]="selectedGender"></p-radioButton>
<p-radioButton name="genderGroup" value="female" label="female" [(ngModel)]="selectedGender"></p-radioButton>
<button pButton type="button" label="Add Golfer" (click)="addGolfer()"></button>
<div *ngFor="let golfer of golfers">
  <i *ngIf="golfer.gender === 'male'" class="fas fa-male"></i><i *ngIf="golfer.gender === 'female'" class="fas fa-female"></i>&nbsp;{{golfer.name}}
</div>
