<h3>Scores</h3>
<p-dropdown [options]="roundOptions" [(ngModel)]="selectedRound" (onChange)="courseChanged($event.value)"></p-dropdown>
<p-radioButton name="lengthGroup" value="front 9" label="front 9" [(ngModel)]="selectedLength" (onClick)="lengthChange('front 9')"></p-radioButton>
<p-radioButton *ngIf="selectedRound && selectedRound.coursePlusRatings.holes.length > 9" name="lengthGroup" value="back 9" label="back 9" [(ngModel)]="selectedLength" (onClick)="lengthChange('back 9')"></p-radioButton>
<p-radioButton *ngIf="selectedRound && selectedRound.coursePlusRatings.holes.length > 9" name="lengthGroup" value="18" label="18" [(ngModel)]="selectedLength" (onClick)="lengthChange('18')"></p-radioButton>
<table>
  <tr><th>Hole</th><th>Par</th><th>Length</th><th>Score</th><th>Putts</th></tr>
  <tr *ngFor="let score of newScores; let i = index">
    <td *ngIf="holes && (i<9 || (selectedLength === '18' && holes.length > 9))">{{holes[i].number}}</td>
      <!--
      <td *ngIf="holes && (i<9 || (selectedLength === '18' && holes.length > 9))">{{i}}</td>
    -->
    <td *ngIf="holes && (i<9 || (selectedLength === '18' && holes.length > 9))">{{holes[i].par}}</td>
    <td *ngIf="holes && (i<9 || (selectedLength === '18' && holes.length > 9))">{{holes[i].length}}</td>
    <td *ngIf="holes && (i<9 || (selectedLength === '18' && holes.length > 9))"><input pInputText [(ngModel)]="score.score"/></td>
    <td *ngIf="holes && (i<9 || (selectedLength === '18' && holes.length > 9))"><input pInputText [(ngModel)]="score.putts"/></td>
  </tr>
</table>
<button pButton type="button" label="Add Scores" (click)="addScores()"></button>
